* {
    /* font-family: Georgia, Times, "Times New Roman", serif; */
    --main-color: #38236e;
    --accent-color: #997fdb;
    --response-color: #c4c1c9;
}

.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 400px;
}

p {
    margin: 15px 15px;
}

/**/

.landing {
    text-align: center;
}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 5px;
    border: 0;
    padding: 20px;
}

button:hover {
    background-color: var(--accent-color);
}

.options button {
    display: block;
}

.scoresview {
    background-color: #fff;
    color: var(--accent-color);
    font-size: 120%;
}
.scoresview:hover {
    background-color: #fff;
    color: var(--main-color);
    
}
input[type="text"] {
    font-size: 100%;
}

.hide {
    display: none;
}

.response {
    font-style: bold;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 15px;
    color: var(--response-color);
    /* border-top: 2px solid #4B0082 */
}

ol {
    padding-left: 15px;
    max-height: 600px;
    overflow: auto;
}
  
li {
    padding: 5px;
    list-style: decimal inside none;
}
  
li:nth-child(odd) {
    background-color: #dfdae7;
}

/* for screens <768px */
@media screen and (max-width: 768px) {

}

/* for screens <575px */
@media screen and  (max-width: 575px) {

}